:root {
  --color-primary: #009fd4;
  --color-primary-hover: #007fad;
  --color-light: #ffffff;
  --color-gray: #f0f2f5;
  --color-dark: #1a1a1a;
  --color-muted: #6b7280;
  --radius: 10px;
}

/* Página */
.create-carga-page {
  background: linear-gradient(135deg, var(--color-gray), #e4e8ee);
  min-height: 100vh;
  margin-top: -40px;
  padding: 2rem 3rem;
}

/* Layout */
.create-carga-flex {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* IZQUIERDA */
.create-carga-container {
  flex: 1;
  max-width: 50%;
  padding: 1rem 2rem;
}

.carga-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-dark) !important;
  margin-bottom: 1.5rem;
}

/* Card izquierda */
.create-carga-card {
  background: var(--color-light);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

/* DERECHA */
.right-info-panel {
  flex: 1;
  max-width: 45%;
  background: var(--color-light);
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
  margin-top: 2.8rem;
}

.right-fake-title {
  color: transparent;
  margin: 0;
  font-size: 1.6rem;
  line-height: 0;
}

.right-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 1.3rem;
}

.right-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--color-dark);
}

.right-text {
  text-align: center;
  color: var(--color-muted);
  margin-bottom: 1.2rem;
}

/* Accordion */
.right-accordion .p-accordion-header-link {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 0.9rem;
}

/* Flechas celestes */
.p-accordion-header .p-accordion-toggle-icon {
  color: var(--color-primary) !important;
}

/* Títulos del Accordion en negro */
.right-accordion .p-accordion-header-text {
  color: var(--color-dark) !important;
  font-weight: 600;
}

.right-accordion .p-accordion-header-link:hover {
  border-color: var(--color-primary);
}

.right-accordion .p-accordion-content {
  padding: 0.7rem 1rem;
}

.accordion-text {
  font-size: 0.95rem;
  color: var(--color-muted);
  line-height: 1.5;
}
